<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vuejs punch bag game</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="App">
          
          <div id="punchbag">
                <img  src="image/punchbag.png">
                <img v-if="punch==true"  src="image/punch.png"  class="punch">
          </div>
          <div id="progress">
                <div class='progress' v-bind:style="{width:progress+'%'}">
                </div>
          </div>
          <br>
          <div id="control">
            <button type="button"  v-if="punchButton==true" v-on:click="punch2">Punch</button>
            <button type="button" v-on:click="retry">Retry</button>
          </div>

  </div>
</body>
<script src="vue.js"></script>
<script>
  var vue  = new Vue({
    el:"#App",
    data:{
      progress:100,
      punch:false,
      punchButton:true,
      retryButton:true,
    },
    methods:{
      punch2:function()
      {
        this.progress -=10;
        if(this.progress===0)
        {
            this.punchButton = false;
            this.punch = true;
        }
      },
      retry:function()
      {
        this.progress = 100,
        this.punchButton = true;
        this.punch = false;
      }
    }
  })
</script>

  
</style>
</html>